<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/greeting.css" />
  </head>
  <body>
    <h1>Hello <%= name %></h1>

    <button id="magic-btn">Click for Magic</button>
    <div id="magic" class="hide"></div>

    <script src="/javascripts/greeting.js"></script>
  </body>
</html>
